{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5> 上线管理 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">

<!--                     <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="#">组列表</a></li>
                        <li role="presentation"><a href="/servers">服务器列表</a></li>
                    </ul> -->
                     <div class="col-sm-12 page-header">

<!--                         <div class="col-sm-4 col-sm-offset-4">
                            <select class="form-control " name="ipList">
                              <option>java平台</option>
                              <option>tomcat</option>
                              <option>python</option>
                            </select>
                            
                        </div> -->
<!--                         <h1>上线管理
                            <small>上线</small>
                        </h1> -->
                    </div>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="projectname" class="col-sm-2 control-label">项目名称</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="projectname" placeholder="java平台">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="repo" class="col-sm-2 control-label">repo</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="repo" placeholder="git://xxoo">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="repo" class="col-sm-2 control-label">部署ip列表</label>
                        <div class="col-sm-6">
                            <select class="form-control " name="ipList">
                              <option>java</option>
                              <option>web</option>
                              <option>nginx</option>
                              <option>tomcat</option>
                              <option>python</option>
                            </select>
                            
                        </div>
                        <button type="button" class="btn btn-info">编辑</button>
                        <button type="button" class="btn btn-success">新增</button>
                      </div>

                      <div class="form-group">
                        <label for="projectname" class="col-sm-2 control-label">checkout路径</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="projectname" placeholder="/data/tmp/project">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="projectname" class="col-sm-2 control-label">部署路径</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="projectname" placeholder="/data/project">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="repo" class="col-sm-2 control-label">执行前</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3"></textarea>
                            
                        </div>

                      </div>
                      <div class="form-group">
                        <label for="repo" class="col-sm-2 control-label">执行后</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3"></textarea>
                            
                        </div>

                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">

                          <button type="submit" class="btn btn-dange">执行</button>
                        </div>
                      </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="dialog_log" href="/jprocess/jprocess/jprocess_list/" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">日志</h4>
          </div>
          <div class="modal-body">
          <span id="out"></span>
            <div id="loginfo" style="overflow-y:auto;max-height:420px;" ></div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block self_head_css_js %}

    {% load staticfiles %}
    <script src="{% static 'js/jquery.shiftcheckbox.js' %}"></script>
    <script src="{% static 'js/layer/layer.js' %}"></script>
    <script src="{% static 'js/jquery.mloading.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mloading.css' %}" />
    <script src="{% static 'js/app.js' %}"></script>


{% endblock %}
{% block self_footer_js %}
<script>
    function jprocess_tail_log(server_id, group, app) {
        $('#out').text = "xxxoo";
        $('#dialog_log').modal();
        // $("#loginfo").load("/");
                // window.open("/" + server_id + "/" + group + "/" + app + "/tail/")
            };
    $(document).ready(function(){
        
    });
</script>
{% endblock %}
